<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Медвежий угол</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="transback">
		<div id="wrapper">
			<div class="container-fluid">
				<div class="col-sm-4 bear-left">
					<img width="80%" src="images/design/bear-left.png">
				</div>
        <div class="col-sm-4 blabel">
          <div class="container-fluid">
            <img width="100%" src="images/design/label.png">
          </div>
        </div>
        <div class="col-sm-4 block bear-right">
					<img width="80%" src="images/design/bear-right.png">
				</div>
			</div>
      <div class="container-fluid bpanel">
					<div class="container-fluid inbpanel">
						<div class="menuitem" ><%=link_to "Главная", "/" %></div>
						<div class="menuitem"><%=link_to "Контакты", "/contacts" %></div>
						<div class="menuitem"><%=link_to "Фото", "/photos" %></div>
            <div class="menuitem"><%=link_to "Новости", "/news" %></div>
            <div class="menuitem"><%=link_to "Цены", "/prices" %></div>
            <div class="menuitem"><%=link_to "Услуги", "/services" %></div>
						<button class="menuitem btn btn-default" onclick="show_order_form();">Заказать</button>
					</div>
        </div>
			<!--<div class="container-fluid middleblock">
				<table>
					<tr>
						<td id="menutd">
							<div class="bpanel menucontent">
								<div class="container-fluid inbpanel">
                  <button class="menuitem btn btn-default" onclick="show_order_form();">Заказать</button>
									<div class="menuitem" ><%=link_to "Главная", "/" %></div>
                  <div class="menuitem"><%=link_to "Контакты", "/contacts" %></div>
                  <div class="menuitem"><%=link_to "Фотогалерея", "/photos" %></div>
                  <div class="menuitem"><%=link_to "Новости", "/news" %></div>
                  <div class="menuitem"><%=link_to "Цены", "/prices" %></div>
                  <div class="menuitem"><%=link_to "Услуги", "/services" %></div>
								</div>
							</div>
						
						
						</td>
						<td id="margintd">
							&nbsp;
						</td>
						<td id="content td">
							<div class="bpanel maincontent content">
								<div class="container-fluid inbpanel">
									<= yield %>
								</div>
							</div>
						</td>				
					</tr>				
				</table>
			</div>-->
      <div class="container-fluid bpanel main-container">
        <div class="container-fluid inbpanel">
          <%= yield %>
        </div>
      </div>
			<div id="footer">
				<div id="infooter">
					&copy; 2015 "Медвежий угол", <%= link_to "Разработчики", "/developers" %> <br />
					Полное или частичное копирование материалов сайта запрещено.
				</div>
			</div>
		</div>
	</div>
	
	<div data-remodal-id="order">
		<div class="form-group">
			<label>Ваше имя:</label>
			<br />
			<input class="form-control" id="order_name" type="text" class="order_input"></input>
		</div>
		<div class="form-group">
			<label>Ваш телефон:</label>
			<br />
			<input class="form-control" id="order_phone" type="text" class="order_input"></input>
		</div>
    <div class="form-group">
			<label>Количество человек:</label>
			<br />
			<input class="form-control" id="order_qpersons" type="text" class="order_input"></input>
		</div>
		<div class="form-group">
			<label>Ваше сообщение:</label>
			<br />
			<textarea class="form-control" rows="5" id="order_text"></textarea>
		</div>
		<button type="button" class="btn btn-info" onclick="send_order();">Отправить</button>
		<p id="order_result" class="bg-info"></p>
	</div>
	
	
	
	<script>
		inst = $('[data-remodal-id=order]').remodal();
	</script>
</body>
</html>
