<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Медвежий угол</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="transback">
		<div id="wrapper">
			<div id="header">
				<div id="bear">
					<img src="images/design/bear.png">
				</div>
				<div class="container-fluid bpanel">
					<div class="container-fluid inbpanel">
						<div class="menuitem" ><%=link_to "Главная", "/" %></div>
						<div class="menuitem"><%=link_to "О нас", "/info" %></div>
						<div class="menuitem"><%=link_to "Контакты", "/contacts" %></div>
						<div class="menuitem"><%=link_to "Фотогалерея", "/photos" %></div>
						<button class="menuitem" onclick="show_order_form();">Заказать</button>
					</div>
				</div>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div id="footer">
				&copy; 2015 "Медвежий угол", <%= link_to "Разработчики", "/developers" %> <br />
				Полное или частичное копирование материалов сайта запрещено.
			</div>

		</div>
	</div>
	
	<div id="blabel">
		<img src="images/design/label.png">
	</div>
	
	<div data-remodal-id="order">
		<div class="form-group">
			<label>Ваше имя:</label>
			<br />
			<input class="form-control" id="order_name" type="text" class="order_input"></input>
		</div>
		<div class="form-group">
			<label>Ваш телефон:</label>
			<br />
			<input class="form-control" id="order_phone" type="text" class="order_input"></input>
		</div>
		<div class="form-group">
			<label>Ваше сообщение:</label>
			<br />
			<textarea class="form-control" rows="5" id="order_text"></textarea>
		</div>
		<button type="button" class="btn btn-info" onclick="send_order();">Отправить</button>
		<p id="order_result" class="bg-info"></p>
	</div>
	
	
	
	<script>
		inst = $('[data-remodal-id=order]').remodal();
	</script>
</body>
</html>
